.background-img {
  // background-image: url("https://firebasestorage.googleapis.com/v0/b/brokerage-sharing.appspot.com/o/login-bg.png?alt=media");
  background-image: url("./assets/images/login-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiOutlinedInput-root {
  &.Mui-focused fieldset {
    border-color: var(--primary) !important;
  }
}
